*{
    background-color:rgba(9, 144, 255, 0.699) ;
}

button{
    background-color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif   
}
a[href="index.php"]{
    color: black;
    background-color: white;
    font-family: 'Segoe UI';
}

footer{
   color: white;
   position:absolute;
   top: 98%;
   bottom: 0%;
   left: 0%;
   right: 0%;
    
}
p a[href="pagina de ddebate.html"]{
    text-align: center;
}